name: Push to Hugging Face hub
on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/hf.yml"
      - "web/**"
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Prepare and push to HF
        run: |

          # Prepare space
          mkdir $SPACE_NAME
          cd $SPACE_NAME
          cp -rf ../web/. ./

          # Git
          rm -rf .git
          rm -rf .gitignore

          git init
          git branch -M main
          git config --global user.email "thewh1teagle"
          git config --global user.name "thewh1teagle"
          git remote add origin https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$SPACE_NAME

          git add .
          git commit -m "latest"
          git push --force origin main

        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: "thewh1teagle"
          SPACE_NAME: "heb-g2p-benchmark"